{% extends 'store/base.html' %}

{% block content %}
<!-- Load Custom Filters-->
{% load cart %}
{% load custom_filter %}
<div class="container">
    <div class="border rounded p-4 m-4">
      <p  class="display-4 ps-4 ms-4"> Your Cart</p>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Sno</th>
                    <th scope="col">image</th>
                    <th scope="col">Product</th>
                    <th scope="col">Price</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Total</th>
                </tr>
            </thead>
            <tbody>
                {% for product in products %}
                <tr>
                    <th scope="row">{{forloop.counter}}</th>
                    <td> <a href="/#{{product.id}}"><img style="width:60px;" src="{{product.image.url}}" alt=""><a></td>
                    <td>{{product.name}}</td>
                    <td>{{product.price|currency}}</td>
                    <td>{{product|cart_quantity:request.session.cart}}</td>
                    <td>{{product|price_total:request.session.cart|currency}}</td>
                </tr>
                {% endfor %}
              
                <tr>
                    <th colspan="4"></th>
                    <th colspan="1">Total</th>
                    <th>{{products|total_cart_price:request.session.cart|currency}}</th>
                </tr>
            </tbody>
            {% comment %} <tfoot>
                <tr>
                    <th colspan="3"></th>
                    <th colspan="1">Total</th>
                    <th>{{products|total_cart_price:request.session.cart}}</th>
                </tr>
            </tfoot> {% endcomment %}
        </table>
        <div class="m-3 p-3">
            <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-outline-info border rounded col-lg-3 float-end">Check out</a>
        </div>
    </div>
</div>

<!-- Model -->

<!-- Button trigger modal -->

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Check out Form</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="m-2 p-3">
            {% if request.session.customer_id %}
            <form action="/check-out" method="POST">
                {% csrf_token %}

                <div class="form-group">
                    <label for="">Address</label>
                    <input class="form-control" type="text" name="address" id="" placeholder="" aria-divisibleby="helpId">
                </div>
                <div class="form-group">
                    <label for="">Mobile</label>
                    <input class="form-control" type="text" name="mobile" id="" placeholder="" aria-divisibleby="helpId">
                </div>
                <br>
                <input type="submit" class="btn float-end btn-outline-info col-lg-6" value="Check out">
                {% else %}
                <p>Please login first for checkout!!!</p><br>
                <a href="/login" class="btn float-end btn-outline-info col-lg-6">Login</a>
                {% endif %}
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}