{% extends 'store/base.html' %}
{% load static %}
{% block content %}

<!-- Load Custom Filters -->
{% load cart %}
{% load custom_filter %}
<div class="container-fluid mt-3">
    <div class="row">
        <!--filter-->
        <div class="col-lg-3 mb-2 mx-auto">
            <div class="list-group">
                <a href="/" class="list-group-item
               list-group-item-action">All Products</a>

                {% for category in categories %}
               <a href="/?category={{category.id}}" class="list-group-item
               list-group-item-action">{{category.name}}</a>
               {% endfor %}
            </div>
        </div>

        <!--all products-->
        <div id="products" class="col-lg-9 mx-auto">
            <div class="row mx-auto">
                {% for product in products %}
                    <div class="card mx-auto mb-3" id={{product.id}} style="width: 13rem;">
                        <img class="card-img-top" src="{{product.image.url}}" alt="image">
                        <div class="card-body">
                            <p class="card-title">{{product.name}}</p>
                            <p class="card-text"><b>{{product.price|currency}}</b></p>
                            {% comment %} <!--{{product | is_in_cart:request.session.cart }}--> {% endcomment %}
                            
                        </div>
                        
                        <div class="card-footer p-0 no-gutters">

                            {% if product|is_in_cart:request.session.cart %}
                            <div class="row no-gutters">
                                <form action="/#{{product.id}}" class="col-2" method="POST">
                                    {% csrf_token %}
                                    <input hidden type="text" name="product" value="{{product.id}}">
                                    <input hidden type="text" name="remove" value="True">
                                    <input type="submit" value=" - " class="btn btn-block btn-secondary form-control">
                                </form>
                                <div class="text-center col">{{product|cart_quantity:request.session.cart}} in Cart</div>
                                <form action="/#{{product.id}}" class="col-2" method="POST">
                                    {% csrf_token %}
                                    <input hidden type="text" name="product" value="{{product.id}}">
                                    <input type="submit" value=" + " class="btn btn-block btn-secondary form-control">
                                </form>
                            </div>
                            {% else %}
                            <form action="/#{{product.id}}" method="POST" class="btn-block row">
                                {% csrf_token %}
                                <input hidden type="text" name="product" value="{{product.id}}">
                                <input type="submit" class="float-end btn btn-light border form-control" value="Add To Cart"></input>
                            </form>
                            {% endif %}

                        </div>
                        
                    </div>
                {% endfor %}
            </div>
        </div>

    </div>
</div>

{% endblock content %}